.close {
	transition: all ease 10s;

	.bg {
		display: none;
	}

	.pos {
		position: static;
		z-index: 10;
		display: block;
	}

	.card {
		width: 274px;
		height: 274px;
		border-radius: 16px;
		background: #fff;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		padding: 14px 20px;
		transition: transform ease 300ms;

		img {
			width: 124px;
		}
	}

	.card:hover {
		transform: scale(1.02);
	}
}

.title {
	color: #616c7b;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 16px;
	width: 100px;
}

.flex {
	display: flex;
	gap: 36px;
	align-items: end;
}

.tools {
	padding: 20px 0;
	display: flex;
	gap: 10px;
	color: #616c7b;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
.tools_flex {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.open {
	transition: all ease 10s;

	.bg {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.54);
		z-index: 10;
	}

	.pos {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.card {
		z-index: 100;
		width: 400px;
		height: 500px;
		border-radius: 16px;
		background: #fff;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		padding: 14px 20px;
		transition: transform ease 300ms;

		img {
			width: 124px;
		}
	}
}
