:root {
	font-family: 'Poppins', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* css variables */
	--main: #4fd1c5;
	--black: #101010;
	--font-color: #616c7b;
	--white: #fff;
	--grey: #c9c9c9;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	color: var(--font-color);
}

html {
	color-scheme: dark light;
}

body {
	font-family: 'Poppins', Arial, sans-serif;
	min-height: 100vh;
}

img,
picture,
video,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
